@{
    ViewData["Title"] = @Localizer["Documents"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["LearnMore"] <a href="https://learn.microsoft.com/aspnet/core">@Localizer["BuildingWebApps"]</a>.</p>
</div>
